<h1> Journal</h1>

<div id="sidebar"></div>
<div id="content"></div>

<style>

  body,h1,h2,ul,li {
  margin: 0;
  border: 0;
  padding: 0;
}

  body {
  height: 100%;
}

  #sidebar {
  float: left;
  background: yellow;
  height: 100%;
  padding: 10px;
}

  #sidebar h2 {
  text-align: center;
}

  #content {
  float: left;
  display: block;
  padding: 10px;
}
</style>
